<!DOCTYPE html>
html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title ChatPage
        style
            include ../styles/chatcss.css
    body
        nav
            div(class="navwrapper")
                div
                    a(id="userId")
                    a(href="/" style="margin-left: 20px") HOME
        div(id="chatTxt" class="chatTxt")
            div(class="chats" id="chats")
                p(class="chatsMe" id="chatsMe") 안녕
                p(class="chatsYou" id="chatsYou") 안녕2
        div(class="chatInputTxt")
            input(type="text", name="text" class="txtInput" id="txtInput")
            button(class="txtInputSubmit" id="chatForm") 전송

        script(src="/socket.io/socket.io.js")
        script.
            window.onload = () => {
                let id = sessionStorage.getItem('id');
                let userId = document.getElementById('userId');

                let chats = document.getElementById('chats');

                let txtInput = document.getElementById('txtInput');

                const socket = io('ws://192.168.0.2:3000');
                socket.on('chatsYou', (data) => {
                    let txt = document.createElement("P");
                    txt.setAttribute('class',"chatsYou");
                    txt.innerText = data['des'];
                    chats.appendChild(txt);
                    window.scrollBy(0, 100);
                    return;
                });

                if(id == null) userId.innerText = "로그인이 필요합니다";
                else userId.innerText = `USER ID : ${id}`;

                function sendFunc(){
                    if(id == null) return;
                    if(txtInput.value == "") return;
                    socket.emit('chats', {"id":"basic", "des":txtInput.value});
                    let txt = document.createElement("P");
                    txt.setAttribute('class',"chatsMe");
                    txt.innerText = txtInput.value;
                    chats.appendChild(txt);
                    txtInput.value = "";
                    window.scrollBy(0, 100);
                    return;
                }
                txtInput.addEventListener("keydown", () => {
                    if(event.keyCode == 13){
                        return sendFunc();
                    };
                });
                
                let chatBtn = document.getElementById('chatForm');
                chatBtn.onclick = () => sendFunc();

                

                
            }
        

    