<!DOCTYPE html>
html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title
            
    body
        head
            include ./headpug.pug 
        main
            p #{title}
            p
                a(href="/renderHtml/123") 반복문 이동
        footer
            include ./footerpug.pug
            
        