<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>JAMES_DEV_TEST only PeerJS</title>
    <style>
      video {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    </style>
  </head>
  <body>
    <video id="my"></video>
    <video id="uu"></video>

    <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>

    <script>
        var pa = window.location.search || "";
        var myKey;
        var uKey;
        // qs 에 따라 역할을 나눔
        if(pa === ""){
            myKey = 'recevier'
            uKey = 'sender';
        }
        else{
            myKey = 'sender';
            uKey = 'recevier';
        }

        var myPeer = new Peer(myKey);

        myPeer.on('open', (id) => {
            alert(`open myKey : ${id} conn u Key : ${uKey}`);
            var conn = myPeer.connect(uKey);
            conn.on('open', () => {
                conn.send('안녕!');
            });

            navigator.mediaDevices.getUserMedia({video: true, audio: false})
            .then(stream => {
                alert("발송 준비");
                var call = myPeer.call(uKey, stream);
                alert("발송 ~ ~");
                myPeer.on('call', call => {
                    call.answer(stream);    
                    alert('연결 받음 ~');
                    alert('화면 발송 ~');
                    call.on('stream', st => {
                        alert('영상 받음 ~');
                        var uu = document.getElementById('uu');
                        uu.srcObject = st;
                        uu.autoplay = true;
                        uu.setAttribute('playsinline', true);
                    })
                })
                
            });
        });
        
    </script>
  </body>
</html>